@model Blog_Website.Models.View.AddTagRequest

@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add New Tag</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label for="inputTagName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputTagName" asp-for="Name"/>
        </div>
        <div class="mb-3">
            <label for="inputTagDisplayName" class="form-label">Display Name</label>
            <input type="text" class="form-control" id="inputTagDisplayName" asp-for="DisplayName"/>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Add Tag</button>
        </div>
    </form>
</div>
