@model Blog_Website.Models.View.Login

@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Login</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label for="inputAccountUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="inputAccountUsername" asp-for="Username" />
        </div>
        <div class="mb-3">
            <label for="inputAccountPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputAccountPassword" asp-for="Password" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Login</button>
        </div>
        <input type="hidden" asp-for="ReturnUrl" />
    </form>
</div>

